{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <div class="container">
        <article>
            <h1>Привет, я автор</h1>
            <p>
                Я из Санкт-Петербурга.
                Закончил Электромеханический факультет СПБГПУ по специальности элекстроснабжение.
                После института долго работал по специальности в одной крупной компании, которая занимается проектированием гидроэлектростанций.
                Много ездил по РФ, по разным ГЭС.
                Очень люблю путешествовать и в доковидные времена успел много где побывать.
                Учусь в Практикуме на Python разработчика и специалиста по Data Science.
                Немного про себя: кроме любви к путешествиям, люблю современное кино/сериалы (Marvel, Нолан и все такое ),
                стараюсь придерживаться здорового питания, увлекаюсь трейдингом, фотографией (есть даже диплом академии фотографии и пара наград в конкурсах), кофе.
                Нравятся хорошо оформленные книги, хороший дизайн и современные технологии.
                По настроению люблю готовить, особенно когда начитаюсь хорошо оформленных кулинарных книг.
            </p>
        </article>
    </div>
{% endblock %} 
